*{
  margin:0;
}
body{
  display:block;
  margin-left: auto;
  margin-right: auto;
  width:900px;
  max-width: calc(100% - 4px);
  background: linear-gradient(rgba(255,255,0,0.2), rgba(0,200,100,0.3));
  min-height: 100vh;
}
main{
  margin-left: auto;
  margin-right: auto;
}
article{
  display:flex;
  text-align: center;
  justify-content: center;
  max-width: 900px;
  width:calc(100% - 4px);
  flex-direction:column;
}
  form{
    text-align: center;
  }
h1{
  background:black;
  color:yellow;
  width:100%;
  text-align: center;
}
