<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title><%=title%></title>
    <!-- /comments -->
    <link rel="stylesheet" href="/style/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name='description' content='<%= description %>'>
    <link rel="shortcut icon" href="/images/ico.svg">

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-CTRLNMFNGY"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-CTRLNMFNGY');
    </script>

  </head>
  <body>
    <main>
      <article>
        <h1><%=title%></h1>
        <p><%=text%></p>
        <div style='width:900px; max-width:100%; border:3px black solid;border-radius: 5px;'>
          Comments:
          <form action="/comments" method="POST" name='registerForm'>
            <input type="text" name="userName" value="" placeholder='userName'><br>
            <textarea name="message" value="message" cols='28' placeholder="to new messages"></textarea><br>
            <span id="date" name="date" value=""placeholder='date'></span><br>
            <button type="submit" name="button" id='submit'>go to</button>
            <span style='color:red;'>login > 4 and text > 7 symbol</span>
            <script src="https://www.google.com/recaptcha/enterprise.js?render=6Leh72clAAAAAEMkTaYe7iC8xiBVWd3PMAGyWmgy"></script>
            <script>

            grecaptcha.enterprise.ready(function() {
                grecaptcha.enterprise.execute('6Leh72clAAAAAEMkTaYe7iC8xiBVWd3PMAGyWmgy', {action: 'login'}).then(function(token) {

                });
            });
            </script>
          </form>
        </div>
        <div id="com"></div>
        <script type="text/javascript">

        document.getElementById('submit').addEventListener('click',(e)=>{
          e.preventDefault();
          // newComment();
          // получаем данные формы
          let registerForm = document.forms['registerForm']
          let userName=registerForm.elements['userName'].value
          let message=registerForm.elements['message'].value
          // let date=registerForm.elements['date'].value
          // сериализуем данные в json
          let user = JSON.stringify({
            userName: userName,
            message: message,
            date: new Date(),
          })
          let request = new XMLHttpRequest()
          // посылаем запрос на адрес "/user"
          request.open('POST', '/comments', true)
          request.setRequestHeader(
            'Content-Type',
            'application/json'
          )
          // console.log(request);
          request.addEventListener('load', function () {
            // получаем и парсим ответ сервера
            let receivedUser = JSON.parse(request.response);
            // console.log(request);
            // console.log(response);
            console.log(receivedUser.userName,'-',receivedUser.message,' - ',receivedUser.date
          ) // смотрим ответ сервера
        })
        request.send(user);
      });


    //   fetch(put3)
    // .then(response => response.json())
    // .then(commits => alert(commits[0].author.login));

      // var xhr = new XMLHttpRequest();
      // xhr.open("GET", `${put3}`, true);
      // xhr.onreadystatechange = function(){//Вызывает функцию при смене состояния.
      //   if(xhr.readyState == XMLHttpRequest.DONE && xhr.status == 200) {
      //     console.log(xhr.responseURL+" connect EST!!!");
      //   document.getElementById("comments").innerHTML = this.responseText;
      //   }
      // }
      // xhr.send();
      // setInterval(()=>newComment(),10000);
      //put comments
      const put3='json/message.json';
      function newComment(){
        const xhr = new XMLHttpRequest();
        xhr.open('GET', put3, true);
        xhr.onload = function(){
          console.log(xhr.responseURL); // http://example.com/test
          // document.getElementById("com").innerHTML = this.responseText;
          let message=JSON.parse(this.responseText);
          let count=message.length;
          console.log(count);
          let num=-1+count+0;
          console.log(num);
          // setInterval(()=>{
            console.log(message[num]['userName']);
            console.log(message[num]['message']);
            console.log(message[num]['date']);
            for(num;num>0;num--){
              // console.log(num+"_"+message.length+"_"+`${count}`);
              let newUser=document.createElement('p');
              newUser.innerHTML="<div style='color:red;float:left;font-size:25px;'><span style='color:orange;font-size:20px;'>NickName: </span>"+message[num]['userName']+"</div>";
              document.querySelector('article').append(newUser);
              let newMessage=document.createElement('p');
              newMessage.innerHTML="<div style='color:grey;font-size:20px;'><span style='color:green;font-size:20px;'>Message: </span>"+message[num]['message']+"</div>";
              document.querySelector('article').append(newMessage);
              let newDate=document.createElement('p');
              newDate.innerHTML="<div style='color:blue;float:right;'><span style='color:violet;font-size:18px;'>Date: </span>"+message[num]['date']+"</div>";
              document.querySelector('article').append(newDate);
            }
          // },3000);//setInterval
        }
        xhr.send();
        document.querySelector('#date').innerHTML="<p style='border:1px solid lightgray; border-radius:2px;'>"+`${new Date()}`+"</p>";
      }//newComment
      // newComment();

      document.addEventListener('DOMContentLoaded',()=>{
        newComment();
        keyTestSubject();
      });

      document.querySelector('body > main:nth-child(1) > article:nth-child(1) > div:nth-child(3) > form:nth-child(1) > button:nth-child(7)').addEventListener('click',()=>{
        console.log('click');
        newComment();
        // window.location.reload();
        setInterval(()=>window.location.href='/comments',1000);
      });
      // setInterval(()=>newComment(),300);

      let testSubject=document.querySelector('body > main > article > div:nth-child(3) > form > input[type=text]').value.length>3||document.querySelector('body > main > article > div:nth-child(3) > form > textarea').value.length>7;
      function keyDown(){
        document.querySelector('form').addEventListener('keydown',()=>{
          keyTestSubject();
        });
      }//keyDown
      keyDown();
      function keyTestSubject(){
        if(document.querySelector('body > main > article > div:nth-child(3) > form > input[type=text]').value.length>2&&document.querySelector('body > main > article > div:nth-child(3) > form > textarea').value.length>7){
          document.querySelector('#submit').disabled=false;
        }else{
          document.querySelector('#submit').disabled=true;
        }
        if(document.querySelector('body > main > article > div:nth-child(3) > form > input[type=text]').value.length>2){
          document.querySelector('body > main > article > div:nth-child(3) > form > input[type=text]').style.cssText=`background:rgba(0,255.0,0.3)`;
        }else{
          document.querySelector('body > main > article > div:nth-child(3) > form > input[type=text]').style.cssText=`background:rgba(255,0.0,0.3)`;
        }
        if(document.querySelector('body > main > article > div:nth-child(3) > form > textarea').value.length>7){
          document.querySelector('body > main > article > div:nth-child(3) > form > textarea').style.cssText=`background:rgba(0,255.0,0.3)`;
        }else{
          document.querySelector('body > main > article > div:nth-child(3) > form > textarea').style.cssText=`background:rgba(255,0.0,0.3)`;
        }
      }//keyTestSubject
        </script>
      </article>
      <img src="/images/excellent-work.png" alt="">
      <img src="/images/great-job.png" alt="">
    </main>
  </body>
</html>
