<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title><%=title%></title>
    <!-- /comments -->
    <link rel="stylesheet" href="/comments/style/style.css">

  </head>
  <body>
    <main>
      <article>
        <h1><%=title%></h1>
        <p><%=text%></p>
        <div style='width:900px; max-width:100%; border:3px black solid;border-radius: 5px;'>
          Comments:
          <form action="/comments" method="POST" name='registerForm'>
            <input type="text" name="userName" value="" placeholder='userName'><br>
            <textarea name="message" value="message" cols='28' placeholder="to new messages"></textarea><br>
            <span id="date" name="date" value=""placeholder='date'></span><br>
            <button type="submit" name="button" id='submit'>go to</button>
          </form>
        </div>
        <div id="com"></div>
        <script type="text/javascript">

        document.getElementById('submit').addEventListener('click',(e)=>{
          e.preventDefault();
          // newComment();
          // получаем данные формы
          let registerForm = document.forms['registerForm']
          let userName=registerForm.elements['userName'].value
          let message=registerForm.elements['message'].value
          // let date=registerForm.elements['date'].value
          // сериализуем данные в json
          let user = JSON.stringify({
            userName: userName,
            message: message,
            date: new Date(),
          })
          let request = new XMLHttpRequest()
          // посылаем запрос на адрес "/user"
          request.open('POST', '/site/comments', true)
          request.setRequestHeader(
            'Content-Type',
            'application/json'
          )
          // console.log(request);
          request.addEventListener('load', function () {
            // получаем и парсим ответ сервера
            let receivedUser = JSON.parse(request.response);
            // console.log(request);
            // console.log(response);
            console.log(receivedUser.userName,'-',receivedUser.message,' - ',receivedUser.date
          ) // смотрим ответ сервера
        })
        request.send(user);
      });


    //   fetch(put3)
    // .then(response => response.json())
    // .then(commits => alert(commits[0].author.login));

      // var xhr = new XMLHttpRequest();
      // xhr.open("GET", `${put3}`, true);
      // xhr.onreadystatechange = function(){//Вызывает функцию при смене состояния.
      //   if(xhr.readyState == XMLHttpRequest.DONE && xhr.status == 200) {
      //     console.log(xhr.responseURL+" connect EST!!!");
      //   document.getElementById("comments").innerHTML = this.responseText;
      //   }
      // }
      // xhr.send();

      //put comments
      const put3='/comments/json/message.json';
      function newComment(){
        const xhr = new XMLHttpRequest();
        xhr.open('GET', put3, true);
        xhr.onload = function(){
          console.log(xhr.responseURL); // http://example.com/test
          // document.getElementById("com").innerHTML = this.responseText;
          let message=JSON.parse(this.responseText);
          // console.log(message[1]['userName']);
          // console.log(message[1]['message']);
          // console.log(message[1]['date']);
          let count=message.length;
          let num=-1+count-1;
          for(num;num>0;num--){
            console.log(num+"_"+message.length+"_"+`${count}`);
            let newUser=document.createElement('p');
            newUser.innerHTML="<div style='color:red;'>"+message[num]['userName']+"</div>";
            document.querySelector('article').append(newUser);
            let newMessage=document.createElement('p');
            newMessage.innerHTML="<div style='color:grey;font-size:20px;'>"+message[num]['message']+"</div>";
            document.querySelector('article').append(newMessage);
            let newDate=document.createElement('p');
            newDate.innerHTML="<div style='color:blue;'>"+message[num]['date']+"</div>";
            document.querySelector('article').append(newDate);
          }
        };

        xhr.send();
        document.querySelector('#date').innerHTML="<p style='border:1px solid lightgray; border-radius:2px;'>"+`${new Date()}`+"</p>";
      }
      document.addEventListener('DOMContentLoaded',()=>{
        newComment();
      });

      document.querySelector('body > main:nth-child(1) > article:nth-child(1) > div:nth-child(3) > form:nth-child(1) > button:nth-child(7)').addEventListener('click',()=>{
        console.log('click');
        newComment();
      });
        </script>
      </article>
      <img src="/comments/images/excellent-work.png" alt="">
      <img src="/comments/images/great-job.png" alt="">
    </main>
  </body>
</html>
